@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,900&display=swap');


* {         /*CSS reset*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 0.9rem;
    font-family: cursive;   /*didn't use google font cauze it looks out of place*/
    background-color: hsl(10deg, 58%, 90%);
    max-height: 100vh;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    /* background: linear-gradient(hsl(10deg, 58%, 90%),hsl(0deg, 58%, 86%)); */
}

.me {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    padding-inline: 10vh;
    padding-block: 1rem;
}

.me p {
    color: hsl(234deg, 16%, 35%);
}

.outerBox {
    display: flex;
    /* padding-top: 20vh; */
    height: 60vh;
    gap: 1rem;
    align-items: center;
    justify-content: center;    /*for the horizontal axis*/
    flex-wrap: wrap;
}

.innerBox {
    height: 60vh;
}

.innerBox img {
    height: inherit;
}

.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 10vh;
    padding-top: 1rem;
}

.aboutMe p {
    color: hsl(234deg, 16%, 35%);
}

.contentBox {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 1rem;
}

.contentBox img {
    margin-inline: 2vh;
    height: 6vh;
}

.contentBox img:hover {
    opacity: 0.5;
}